        body {
            background: fixed radial-gradient(#AFB6FF, #828EFF, #2237FF);
            font: 15pt "Raleway", sans-serif;
            text-align: center;
        }

        h1 {
            color: white;
            margin: min(5vw, 5vh);
            font: bold 4rem "Raleway", sans-serif;
            text-shadow: 2px 3px 3px #000B72, 4px 4px 18px #004469;
        }

        footer {
            color: white;
            text-shadow: 1px 2px 2px #004469;
            bottom: 0;
            margin-bottom: min(1vh, 1vw);
        }

        section {
            text-align: left;
            margin: 0 2vw;
            overflow: auto;
        }

		p {
			margin: 1vw 1vh;
		}
        
		input {
			width: 50%;
			margin-left: 1em;
		}
		
		form {margin-bottom: 0.5em;}
		
		.label {
			text-shadow: 0px 0px 1px black;
			margin: 0.6em 0;
		}
		
        .button {
            display: inline-block;
            font: 1em "Raleway", sans-serif;
            text-decoration: none;
            min-height: 1.5vh;
            background-color: #000E95;
            color: white;
            border: 2px solid #000B72;
            border-radius: 6px;
            opacity: 0.9;
            transition-duration: 0.3s;
            padding: .5vw 1vw;
			cursor: pointer;
        }
        
        .button:hover {
            opacity: 1;
            box-shadow: 0 6px 8px #004469;
        }

        .button:active {
            box-shadow: 0 1px black;
            transform: translateY(1px);
        }

        #icone {
            overflow: hidden;
            font-size: min(2vw, 2vh);
            margin: auto;
            border: 4px dashed gray;
            border-radius: 2em;
            height: 6em;
            width: 6em;
            background: none;
        }

        #icone::before {
            content: " ";
            display: block;
            height: 2em;
            width: 2em;
            background: gray;
            position: relative;
            left: 2em;
            top: 0.8em;
            border-radius: 2em;
        }

        #icone::after {
            content: " ";
            display: block;
            height: 2em;
            width: 4em;
            background: gray;
            position: relative;
            left: 1em;
            top: 1em;
            border-radius: 2em 2em 0 0;
        }

        #info {
            background: white;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            padding: min(3vh, 3vw) min(2vw, 2vh);
            width: 80%;
            max-width: 800px;
            margin: auto;
            font-size: 1.2em;
        }
		
		#pmaioridade {
			display: inline-block;
			margin-top: unset;
		}
		
		#maioridade {
			width: unset;
			margin-left: unset;
			transform: scale(1.8);
		}
		
		#modificar {
			width: unset;
			display: block;
			margin: auto;
		}

        #voltar {
            margin-top: min(8%, 40px);
            margin-bottom: min(10%, 60px);
            text-decoration: none;
        }